<div class="background-cover">
<div class="app-title">
<center><%= image_tag("/images/logo.png", class: 'logo') %>
<h4>Meeting Room</h4>
<br>
<button class="btn btn-danger btn-lg btn-book"><%=link_to "Book a Room", home_path, class: 'room-link' %></button>
</center>
</div>
</div>