/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Raleway');; 
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body{
    font-family: 'Raleway', sans-serif;
    color: #000 !important;
 }
 .background-cover{
     background-color: #F5D76E;
     position:fixed;
     width:100%;
     height:100%;
     top:0px;
     left:0px;
     z-index:1000;
 }

 .app-title{
     margin-top: 18%;
     margin-bottom: 15%;
 }
 .logo{
     width: 10%;
     max-width: 200px;
 }
 .btn-book{
     border-radius: 0px !important;
 }
 .room-link{
     text-decoration: none;
     color: white;
 }
 .room-link:hover{
    text-decoration: none;
    color: white;
 }